name: Test Notification Only

# 设置为手动触发
on:
  workflow_dispatch:

jobs:
  test_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Test Method A
        env:
          # 将刚才配置的 Secrets 映射给脚本使用
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
          PUSHPLUS_TOPIC: ${{ secrets.PUSHPLUS_TOPIC }}
        run: |
          python test_env.py --notify
